
 <div class="container">
 	<table class="table">
  		<thead>
  			<tr>
  				<th width="15%">反馈用户</td>
  				<th>内容</th>
  				<th width="15%">反馈时间</th>
  				<th width="15%">操作</th>
  			</tr>	
  		</thead>
  		<tbody>
  			<volist name="list" id="vo">
  			<tr>
  				<td>{$vo.uname}</td>
  				<td>{$vo.desc}</td>
  				<td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>
  				<td><a href="{:U('Feedback/del',array('id'=>$vo['id']))}" class="btn btn-danger" onclick="return confirm('确认要删除吗？');">删除</a></td>
  			</tr>
  			</volist>
  		</tbody>
	</table>    
</div>