<script src="__PUBLIC__/kind/kindeditor-min.js"></script>
<script src="__PUBLIC__/kind/lang/zh_CN.js"></script>
<script>
            var editor;
            KindEditor.ready(function(K) {
                editor = K.create('textarea[name="desc"]', {
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowFileUpload:true,
					allowFileManager:true,
                    items : [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',  '|',  'link','image','insertfile','source']
                });
            });
        </script>
 <div class="container">
 	<form method="post" role="form" action="{:U('Help/save')}">
        <h2 id="form-title" style="margin: 0px 0px 20px 0px"><gt name="vo['id']" value="0">修改<else />增加</gt>帮助</h2>
        <div class="form-group">
            <div>
            	<label for="title">标题</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="标题" autocomplete="on" value="{$vo.title}" />
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
            	<label for="desc">内容</label>
            	
            	<textarea name="desc" id="desc"  style="width:100%;height:30%;border:1px solid #cccccc">{:htmlspecialchars($vo['desc'])}</textarea>               
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="listorder">排序</label>
            	<input type="text" name="listorder" id="listorder" class="form-control" placeholder="排序" autocomplete="on" value="{$vo.listorder}" />              
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group" align="center">       
        	<input type="hidden" name="id" value="{$vo.id}" />    
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="提交" />
        </div>
    </form>

     

    
</div>