
 <div class="container">
 	<p><a href="{:U('Help/edit')}" class="btn btn-primary">新增</a></p>
 	<table class="table">
  		<thead>
  			<tr>
  				<th width="5%">编号</td>
  				<th>内容</th>
  				<th width="15%">增加时间</th>
  				<th width="15%">操作</th>
  			</tr>	
  		</thead>
  		<tbody>
  			<volist name="list" id="vo">
  			<tr>
  				<td>{$vo.id}</td>
  				<td>{$vo.title}</td>
  				<td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>
  				<td><a href="{:U('Help/del',array('id'=>$vo['id']))}" class="btn btn-danger" onclick="return confirm('确认要删除吗？');">删除</a>&nbsp;<a href="{:U('Help/status',array('id'=>$vo['id'],'value'=>$vo['status']))}" class="btn btn-info"><eq name="vo['status']" value="0">显示<else />隐藏</eq></a></td>
  			</tr>
  			</volist>
  		</tbody>
	</table>    
</div>