
 <div class="container">
 	<p><a href="{:U('Index/edit')}" class="btn btn-primary">新增</a></p>
 	<table class="table">
  		<thead>
  			<tr>
  				<th width="10%">设备ID</td>
  				<th>设备名称</th>
          <th width="15%">设备编码</th>
  				<th width="15%">服务器</th>
  				<th width="20%">状态</th>
  				<th width="20%">操作</th>
  			</tr>	
  		</thead>
  		<tbody>
  			<volist name="list" id="vo">
  			<tr>
  				<td>{$vo.deviceid}</td>
  				<td>{$vo.name}</td>  			
          <td>{$vo.code}</td> 	
          <td>{$vo.vmname}</td>   
          <td>{$vo.errorMessage}</td>   
  				<td><a href="{:U('Index/del',array('id'=>$vo['id']))}" class="btn btn-danger" onclick="return confirm('确认要删除吗？');">删除</a>&nbsp;<eq name="vo['status']" value="0"><a href="{:U('Index/status',array('id'=>$vo['id'],'value'=>1))}" class="btn btn-success">启动</a></eq>
            <eq name="vo['status']" value="1"><a href="{:U('Index/status',array('id'=>$vo['id'],'value'=>0))}" class="btn btn-danger">停止</a></eq><gt name="vo['status']" value="1"><a href="{:U('Index/status',array('id'=>$vo['id'],'value'=>1))}" class="btn btn-warning" title="{$vo.errorMessage}">重新启动</a></gt>
          </td>
  			</tr>
  			</volist>
  		</tbody>
	</table>    
</div>
