 <div class="container">
    <h1>增加设备</h1>
    <br />
 	<form method="get" class="form-horizontal" role="form" action="{:U('Index/edit')}" style="max-width: 80%">
        <div class="form-group">
          <label class="col-sm-2 control-label">选择VM服务器</label>
          <div class="col-sm-10">
            <select class="form-control" name="vmid">
              <volist name="vmlist" id="voo">
              <option value="{$voo.id}" <eq name="vo['vmid']" value="$voo['id']">selected</eq>>{$voo.server}-{$voo.username}</option>
              </volist>             
            </select>
          </div>          
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">查询关键字</label>
          <div class="col-sm-8">
            <input type="text" name="keyword" class="form-control" placeholder="请输入要查询的设备名称 ..." value="{$vo.keyword}"/>
          </div>    
          <div class="col-sm-2">
          <button type="submit" class="btn btn-primary">查询</button>   
          </div>   
        </div>
    </form>
      <table class="table">
      <thead>
        <tr>
          <th>设备名称</th>
          <th width="15%">设备编码</th>
          <th width="20%">操作</th>
        </tr> 
      </thead>
      <tbody>
        <volist name="list" id="voo">
        <tr <eq name="voo['isadd']" value="1">class="danger"</eq>>
          <td>{$voo.name|str_replace=$vo['keyword'],"<font color=\\\"red\\\">".$vo['keyword']."</font>",###}<eq name="voo['online']" value="0">
              &nbsp;<span class="label label-warning">离线</span></eq></td>       
          <td>{$voo.code}</td>             
          <td>
            <eq name="voo['isadd']" value="0">
              <a href="{:U('Index/addDevice',array('vmid'=>$vo['vmid'],'name'=>$voo['name'],'code'=>$voo['code'],'online'=>$voo['online'],'keyword'=>$vo['keyword']))}" class="btn btn-success">增加设备</a>
            <else />
              <a href="javascript:void(0)" class="btn btn-warning">已增加</a>
            </eq>              
           
          </td>
        </tr>
        </volist>
      </tbody>
  </table>    
     

    
</div>