 <div class="container">
    <h1>修改密码</h1>
    <br />
 	  <form method="post" role="form" action="{:U('Index/modifysave')}" style="max-width: 80%">
        <div class="form-group">          
          <input type="password" name="oldpwd" class="form-control input-lg" placeholder="请输入旧密码" />    
        </div>
        <div class="form-group">
          <input type="password" name="pwd1" class="form-control input-lg" placeholder="请输入新密码" />
        </div>
        <div class="form-group">          
            <input type="password" name="pwd2" class="form-control input-lg" placeholder="请重新输入新密码" />        
        </div>
        <div class="form-group">          
            <button type="submit" class="btn btn-default">提交</button>          
        </div>
    </form>

     

    
</div>