 <div class="container">
    <h1><gt name="id" value="0">修改<else />增加</gt>VM服务器</h1>
    <br />
  <form method="post" role="form" action="{:U('Vm/save')}" style="max-width: 80%">
        <div class="form-group">          
          <input type="text" name="server" class="form-control input-lg" placeholder="请输入VM服务器IP地址 如：192.168.22.100" value="{$vo.server}" />    
        </div>
        <div class="form-group">
          <input type="text" name="username" class="form-control input-lg" placeholder="请输入VM服务器登录用户名" value="{$vo.username}"/>
        </div>
        <div class="form-group">          
            <input type="password" name="password" class="form-control input-lg" placeholder="请输入VM服务器登录密码" />        
        </div>
        <div class="form-group">    
            <input type="hidden" name="id" value="{$id}" />      
            <button type="submit" class="btn btn-default">提交</button>          
        </div>
    </form>

     

    
</div>