
 <div class="container">
 	<p><a href="{:U('Vm/edit')}" class="btn btn-primary">新增</a></p>
 	<table class="table">
  		<thead>
  			<tr>
  				<th width="5%">编号</td>
          <th width="15%">用户名</th>
  				<th>地址</th>  				
  				<th width="15%">操作</th>
  			</tr>	
  		</thead>
  		<tbody>
  			<volist name="list" id="vo">
  			<tr>
  				<td>{$vo.id}</td>
  				<td>{$vo.username}</td>  		
          <td>{$vo.server}</td>  		
  				<td><a href="{:U('Vm/del',array('id'=>$vo['id']))}" class="btn btn-danger" onclick="return confirm('删除VM会自动删除该VM下的所有设备，确认要删除吗？');">删除</a>&nbsp;<a href="{:U('Vm/Edit',array('id'=>$vo['id']))}" class="btn btn-info">编辑</a></td>
  			</tr>
  			</volist>
  		</tbody>
	</table>    
</div>