
<div id="playercontainer">

</div>


<script type="text/javascript" src="__PUBLIC__/player/js/cyberplayer.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var player = cyberplayer("playercontainer").setup({
            width: 960,
            height: 540,
            backcolor : "#FFFFFF",
            file : "{$url}",
            image : "",
            autoStart : true,
            repeat : "always",
            volume : 100,
            ak:'6lhla07u6h5qbVT8zQmNntUZ',
            sk:'6FIC8vKh99d1llhP'
        });

        player.onError(function(e) {
            alert(e.message);
        });

    });
</script>