<div class="container">
  <h1>详细参数</h1>  
  <hr /> 

  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="text-primary">尺寸、重量、颜色</h4></div>
    <div class="panel-body">
      <p>尺寸： 主体直径60MM，厚度35MM</p>
      <p>重量：66g（不含支架）</p>
      <p>颜色：星空黑</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="text-primary">功能特征</h4></div>
    <div class="panel-body">
      <p>极速安装：安装与连接不超过1分钟</p>
      <p>外形小巧精致：主体直径6CM，重量66G，便携</p>
      <p>无线连接：使用WIFI无线连接</p>
      <p>720P高清画质：广角720P高清视野</p>
      <p>双向语音：通过内置的麦克风和扬声器可以实现双向语言交流</p>
      <p>红外夜视：通过自动红外LED等，可以保障全天候视频浏览</p>
      <p>资料云存储：录像资料安全存储在百度云。随时随地进行直播和点播</p>
      <p>视频云播放：随时随地多屏（电脑+pad+手机）、实时、流畅播放视频录像</p>
      <p>通知云推送：通过百度云推送实时把报警信息推送到您的手机</p>
      <p>定时任务：可以开启/关闭基于时间和日期的定时任务</p>
      <p>分享：可以和朋友或家人分享您的精彩画面</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="text-primary">规格参数</h4></div>
    <div class="panel-body">
      <p>镜头：彩色镜头，支持数字变焦</p>
      <p>视频：H.264编码，高达720HD（1280×720）@30帧/秒</p>
      <p>音频：内置麦克风和扬声器，支持双向实时音频传输</p>
      <p>夜视：自动红外LED</p>
      <p>无线：WIFI无线传输(支持802.11b/g/n无线协议)</p>
      <p>电源：接口电源5V 2A输入，micro USB口</p>
      <p>操作温度：-5-55°C，室内使用</p>
    </div>
  </div>
</div>
