 <div class="container">
  <h1>下载</h1>   
  <hr />
  <div class="row featurette">
    <div class="col-md-3">
      <img class="featurette-image img-responsive" src="__PUBLIC__/images/android_logo.png" alt="" />
      <br />
      <p><a class="btn btn-lg btn-primary" href="#" role="button">立即下载</a></p>
    </div>
    <div class="col-md-6">
      <h2 class="text-primary">发布时间：2014年05月27日</h2>
      <p class="lead">版本号：4.0<br />
        新功能简介：<br />
        1.更名为“云服务”<br />
        2.交互优化，更易用<br />
        3.全新改版，更美观<br />
        4.优化网络底层，更快速<br />
        5.支持多设备自动同步，更省心<br />
        6.不再支持彩信、文档，有需求可使用老版本</p>
    </div>
    <div class="col-md-3">
      <img class="featurette-image img-responsive" src="__PUBLIC__/images/android_code.png" alt="" />
      <p align="center">二维码扫描</p>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-3">
      <img class="featurette-image img-responsive" src="__PUBLIC__/images/iphone_logo.png" alt="" />
      <br />
      <p><a class="btn btn-lg btn-primary" href="#" role="button">立即下载</a></p>
    </div>
    <div class="col-md-6">
        <h2 class="text-primary">发布时间：2014年05月27日</h2>
        <p class="lead">版本号：4.0<br />
        新功能简介：<br />
        1.更名为“云服务”<br />
        2.交互优化，更易用<br />
        3.全新改版，更美观<br />
        4.优化网络底层，更快速<br />
        5.支持多设备自动同步，更省心<br />
        6.不再支持彩信、文档，有需求可使用老版本</p>
    </div>
    <div class="col-md-3">
      <img class="featurette-image img-responsive" src="__PUBLIC__/images/android_code.png" alt="" />
      <p align="center">二维码扫描</p>
    </div>
  </div>
</div>