<div class="container">
  <h1>常见问题</h1>   
  <hr />

  <div class="panel panel-default">
    <div class="panel-heading">问：为什么叫XXXX呢，貌似不太好记忆。</div>
    <div class="panel-body">
      答：名字嘛都是父母起的，不过时间长了就适应了，就好比百度。
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">问：怎么就重新定义摄像头了，你倒是说说呀？</div>
    <div class="panel-body">
      答：不用连接电脑，不用连接网线，无需本地存储。
  都说事不过三，这这这总可以叫重新定义了吧。
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">问：我用过xx家的yyy产品，比起路由器，这个安装的难度尼玛都到专业8级了。</div>
    <div class="panel-body">
      答：不用连接电脑，不用连接网线，无需本地存储。
  都说事不过三，这这这总可以叫重新定义了吧。
    </div>
  </div>
</div>
