<div class="container">
   <h1>问题反馈</h1>  
   <h3><small>请在这里反馈您使用或安装遇到的各种问题或建议（您的建议，能促使我们更好的完善产品，从而更好的为您提供服务！）</small></h3>    
   <hr />
   <div class="panel panel-default">
    <div class="panel-heading">请提点意见或建议吧^_^</div>    
    <div class="panel-body">
      <form action="{:U('Feedback/save')}" method="post" role="form" class="form-horizontal">
        <div class="form-group">
          <label for="inputDesc" class="col-sm-2 control-label">反馈内容</label>
          <div class="col-sm-10">
            <textarea name="desc" maxlength="500" id="inputDesc" class="form-control" placeholder="(最多输入500字) " rows="15"></textarea>
          </div>   
        </div>

        <div class="form-group">
          <label for="inputEmail" class="col-sm-2 control-label">联系邮箱</label>
          <div class="col-sm-10">
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="有效email地址，方便我们改进后与您取得联系"/>
          </div>
          
        </div>

        <div class="form-group">
          <label for="inputEmail" class="col-sm-2 control-label">&nbsp;</label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg">提交</button>
          </div>

                    
        </div>
        
      </form>
    </div>    
  </div>
</div>
