
 <div class="container">
      <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="__PUBLIC__/images/banner01.jpg" alt="" />
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>WowCam</h1>
              <p>720P高清分辨率 | 快速安装 | 随时随地观看视频</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">马上购买</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="__PUBLIC__/images/banner02.jpg"  alt="" />
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>在线云备份 | 支持android,ios,web | 支持夜视</h1>
              <p>不会错过任何精彩瞬间</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
            </div>
          </div>
        </div>
        <!-- <div class="item">
          <img src="__PUBLIC__/images/banner03.jpg" alt="" />
          <div class="container">
            <div class="carousel-caption">
              <h1>运动检测 | 智能配置</h1>
              <p>用得更安心</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div> -->
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
</div>
<div class="container">
     <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="__PUBLIC__/images/cam-bg-m1.png" alt="" />
          <h2>无须连接电脑，快速配置</h2>
          <p>下载手机客户端，打描二维码，1分钟完成配置</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="__PUBLIC__/images/cam-bg-m2.png" alt="" />
          <h2>Wifi连接，移动更方便</h2>
          <p>WowCam采用Wifi传送数据，没有冗长的网线</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="__PUBLIC__/images/cam-bg-m3.png" alt="" />
          <h2>在线云储，数据更安全</h2>
          <p>24小时在线云储服务，再也不用担心空间不够了</p>          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <br />
      <br />
      <br />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">25平方米房间尽在眼底</h2>
          <p class="lead">WowCam支持最大XX平方米空间 180度全景监控</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="__PUBLIC__/images/room.jpg" alt="">
        </div>
      </div>

      <br />
      <br />
      <br />

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="__PUBLIC__/images/night.jpg" alt="" />
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">夜间模式，视频也很清晰</h2>
          <p class="lead">WowCam内置专业的夜视芯片，拥有更清晰的夜视效果</p>
        </div>
      </div>

      <br />
      <br />
      <br />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">随时随地，想看便看</h2>
          <p class="lead">WowCam客户端支持Andriod和Iphone两大主流手机，其它设备或电脑可登录Web进行管理</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="__PUBLIC__/images/mobile.jpg" alt="" />
        </div>        
      </div>
      <br />
      <br />
      <br />
      <p align="center">
        <img src="__PUBLIC__/images/cam-bg-m7.jpg" />
      </p>
</div>