<div class="container">
    <volist name="list" id="vo" mod="4">

        <div class="col-md-3">
            <p>设备:  {$vo.deviceid}</p>
            <p>描述:  {$vo.desc}</p>
            <p>状态:  <gt name="vo['status']" value="0">在线<else />离线</gt>(<gt name="vo['share']" value="0">已分享<else />私有</gt>)</p>
            <a href="{:U('Index/play',array('code'=>$vo['deviceid']))}"><img src="<eq name="vo['thumbnail']" value="">__PUBLIC__/images/no.png<else />{$vo.thumbnail}</eq>" alt="tetst" width="100%" height="100%" /></a>
            <div align="center" class="-hidden"><span style="font-size: 7pt; color: #cccccc">{$vo.streamid}</span></div>
            <div class="col-md-3"><a href="{:U('Index/del',array('code'=>$vo['deviceid']))}">删除</a></div>
            <div class="col-md-3"><a href="{:U('Index/play',array('code'=>$vo['deviceid']))}">实况</a></div>
            <gt name="vo['share']" value="0">
                <div class="col-md-6"><a href="{:U('Index/share',array('code'=>$vo['deviceid'],'value'=>$vo['share']))}">取消公开</a></div>
                <else />
                <div class="col-md-6"><a href="{:U('Index/share',array('code'=>$vo['deviceid'],'value'=>$vo['share']))}">公开</a></div>
            </gt>
        </div>
    <eq name="mod" value="3"></div><br /><br /><div class="container"></eq>
    </volist>
</div>
        <script type="application/javascript">
            $(document).ready(function() {
               // $(document).lazyScrollLoading({
                //    isDefaultLazyImageMode : true
                //});
            });
        </script>

