<div class="container" align="center">
    <form method="post" role="form" style="max-width: 400px" action="{:U('Index/save')}">
        <h2 id="form-title" style="margin: 0px 0px 20px 0px"><gt name="vo['id']" value="0">修改<else />注册</gt>设备</h2>
        <div class="form-group">
            <div>
                <input type="text" name="code" id="sn" class="form-control input-lg" placeholder="序列号" value="{$vo.code}" autocomplete="on" <gt name="vo['id']" value="0">readonly</gt>>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="text" name="name" id="desc" class="form-control input-lg" placeholder="描述信息" value="{$vo.name}" autocomplete="on">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group" align="center">
            <input type="hidden" name="id" value="{$vo.id}" />
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="<gt name="vo['id']" value="0">修改<else />注册</gt>设备">
        </div>
    </form>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        $("form").submit(function(){
            var flag = true;
            $("div.form-group").removeClass("has-error");
            $("span.help-block").text("");

            if($.trim($("#sn").val()) == '' ){
                $("#sn").parent().parent().addClass("has-error");
                $("#sn").val("");
                $("#sn").next().text("请输入序列号");
                flag = false;
            }

            if($.trim($("#desc").val()) == '' ){
                $("#desc").parent().parent().addClass("has-error");
                $("#desc").val("");
                $("#desc").next().text("请输入描述");
                flag = false;
            }
            return flag;
        });
    });
</script>