<div class="container" align="center">
    <div id="playercontainer">

    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/player/js/cyberplayer.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var player = cyberplayer("playercontainer").setup({
            width: 960,
            height: 540,
            backcolor : "#FFFFFF",
            file : "{$url}",
            image : "",
            autoStart : true,
            repeat : "always",
            volume : 100,
            ak:'{$ak}',
            sk:'{$sk}'
        });

        player.onError(function(e) {
            alert(e.message);
        });

    });
</script>